language: ruby
rvm:
  - 2.3

before_install:
  gem update --system

before_script:
  bin/migrate --run

script:
  bundle exec rspec

# lich repo publishing credentials
env:
  global:
  - secure: Ia+PgpE42uYXzP6pbqwMwrsDUcEiTbHK6cKzmGCtHjDIwZ4XQrT99eUUso8Fn/+1/wtk62M9/8sJhOINlMesjhKngfvXOcZhjNF6fx/RYIWHTeFfPrQZWQiLRi5p3KlT1YETz81+a7sKUVNN3kmNlIlkKDaqszVxwE0IAs20EFdHpv5HHGkrfDT5QzEO95lD8sb9PfNMVJhUUGruWLsQQ+7+D0ORPcEngdipvr8WTBcylJ2CkxUDw4zHcfgVPXxkbTKNwyf9Xagx9gcqt0M5hdXpiYqp4yuopA/oF/5x/kR3B6j+WSH6rYPoqYldjclSJ2vJznXAt42nm3c7px9zGgzO7qppwC715wgDF6lf2jkZdJFc0qU1sKfxno4NGEzupIzl4F5G5BuGhmH/DIVjV55n2XSlH2QJFOzzluJ51pRHWfQn3kN8UjPdgaGxlR9YITerUicaS23MrDnOivV220QanK0qFjKhVUmAC/L5NU4E1+s7miL5OyRMAAhhGlQ7qUguDQ7o6QdmmUW7JBmNiDuVpEZBNIhRZuSoiAY/dJbIKBEB7yly9N2liMrIPffmkZEdlc2ZjLpDbJ9LDloyWqcJSDpORwWgneI4+i9rCZuXfWMNHvhh5Ntlzqme9sYdiY082czcC0AOUoK7rtuZaudtqBaVLkpBNCR163Ge2g8=
  - secure: AUSKCt+43kN/BLBgLsKkSa1DSu2GJOaAMLG1YzPdUpB+vZeOQB7KgW/mhjyVHKPGn0EQFoiKXcEzSJAl6Ow34xpdtiGjr96P29mSC0lp9bEtMLIN4B1i99Usba718MpQctC0p2RuD84/c5pDaz5wdSAX52dA9enVH6520AHzLJwMgFmX+t8LwISyWD10ebjEEI1UJyrVVLqaFcRRPo6II1vLHseAGxPPkOWac2NTM4vInZrUnXl9cGs//1OgB/mSGJwV50qb6XoIHNyWWgJcgDZIZaIeAeTe2amcJ+Kbav+efkjHJn8B3K6nzKS4IPLfotMxFSNvvPHJpois6/NfLLJKdWde+B/vKWnBf2n4YvJpaL0xb+p4kv3U9JHecptC6MdQjnvqR9oy3QPzrS5Lg3enDDYbZuZzyNg/o6sSGRxaiZDKVCPi5HZWW6aAhpZvVrEluNbqrPqkaBPrcv0h7FP/sgJEKGRIFyOmJ2bHIDhAnE3NMZDbVqJt7LKOEbViWB7sr3JuQHNFuZ/FrlnMS+0kS3qzTRvpeSW0qmw5msNIG0UvSOf0Kw6wrnNBS4qNmrv1eO4O3iRDck8Kv7rdUPY7j4ciLx/KpS7AjMbzmDUaZnFGm2nWuGjsUqPdqC5qaHr8Sv9SsVFdEF+tm+zGz2iLm7PgFlF/81VLQy6ZxxE=

# deploy changes on master to lich repo
deploy:
  provider: script
  script: bin/repo
  skip_cleanup: true
  on:
    branch: master

addons:
  apt:
    packages:
    # installs xmllint for bin/migrate
    - libxml2-utils
