[build]
publish = "dist"
command = """
  curl -s --retry 5 --retry-connrefused https://api.github.com/repos/elanthia-online/jinxp/releases/latest \
  | grep browser_download_url \
  | grep jinxp \
  | cut -d '"' -f 4 \
  | wget --tries=5 --retry-connrefused -qi --retry-on-host-error - \
  && chmod +x jinxp \
  && cp mapdb/* scripts/ \
  && ./jinxp -i scripts
  """
